body{
    font-family: Arial, sans-serif;
    background-color:#f8f9fa;
    text-align: center;
    padding: 20px;
}
table{
    width: 80%;
    margin:20px auto;
    border-collapse: collapse;
    background: rgb(218,210,210);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
th, td{
    border: 1px solid #add;
    padding: 10px;
}
th {
    background-color: #007bff;
    color: white;
}
btn, .btn-edit, .btn-delete, .btn-back {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.btn { background: #28a745; }
.btn-edit { background: #ffc107; }
.btn-delete { background: #dc3545; }
.btn-back { background: #6c757d; }
input,button {
    margin: 5px;
    padding: 10px;
    width: 250px;
}
button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

