<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet"href="/static/style.css">
</head>
<body>
    <h2>Add New Students</h2>
    <form method="POST" >
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="text" name="course" placeholder="Course" required><br>
        <button type ="submit">Save</button>
        <a href="/" class="btn-back"> Back</a>
    </form>
</body>
</html>


